<%# =====================
   新規タスク作成ページ
===================== %>

<%# ページタイトル（新しいタスクを作る画面） %>
<h1>🍰 新しいタスク</h1>

<%# フォーム部分（_form.html.erbを読み込んでいる） %>
<%= render "form", task: @task %>

<%# 少し余白が欲しいから改行するやつ %>
<br>

<%# =====================
   戻るリンク
===================== %>
<div class="back-link-wrapper">
  <%= link_to "← もどる", tasks_path, class: "back-link" %>
</div>